# Named tuples for Towers of Hanoi
March 29, 2021

Idea: use an intermediate Python ... thing ... to be simpler and more Pythonic in handling rods and rings.

## The basic example -- from David Beazley

In [1]:
from collections import namedtuple as ntup

#### Initialize named tuple

In [2]:
person = ntup('Person', ['first', 'last', 'address'])

#### Instantiate it

In [6]:
row = person('Dennis', 'Jordan', '199 Yonge St.')

#### Test drive it

In [8]:
row.first

'Dennis'

In [9]:
row.last

'Jordan'

## Python Tricks (Bader) variants

#### Oh shit -- named tuples are immutable -- cannot update. This won't work for what I'm trying to do