# Named tuples for Towers of Hanoi
March 29, 2021

Idea: use an intermediate Python ... thing ... to be simpler and more Pythonic in handling rods and rings.

## The basic example -- from David Beazley

In [29]:
from collections import namedtuple as ntup

#### Initialize named tuple

In [2]:
person = ntup('Person', ['first', 'last', 'address'])

#### Instantiate it

In [6]:
row = person('Dennis', 'Jordan', '199 Yonge St.')

#### Test drive it

In [8]:
row.first

'Dennis'

In [9]:
row.last

'Jordan'

## Python Tricks (Bader) variants

#### Oh shit -- named tuples are immutable -- cannot update. This won't work for what I'm trying to do

## 2.0 Let's try another way to used named tuples

#### Initialize

In [4]:
rod_structure = ntup('rods', ['a', 'b', 'c'])

#### Instantiate

In [5]:
rods = rod_structure("Hi, I'm rod A", "I'm rod b", "Yo, rod C here")

In [6]:
rods.a

"Hi, I'm rod A"

In [7]:
rods.b

"I'm rod b"

fuck that's cool

### 2.1 Can you have objects in your tuple?

In [9]:
class thing:
    def get_name(self):
        return "Bob Wellinghiemer"

In [16]:
rods = rod_structure(thing(), "I'm rod b", "Yo, rod C here")

In [15]:
rods.a.get_name()

'Bob Wellinghiemer'

### 2.2 Can you have named tuples in your object?

In [28]:
class Thing:
    def __init__(self):
        self.rods = self.get_nt()
        
    def get_nt(self):
        rods_structure = ntup('rods', ['a', 'b', 'c'])
        return rod_structure("Hi, I'm rod A", "I'm rod b", "Yo, rod C here")

In [26]:
x = Thing()

In [27]:
x.rods.a

"Hi, I'm rod A"

^^ yup!

## 3.0 Possible to iterate through named tuple?

In [32]:
person = ntup('Person', ['first', 'last', 'address'])

row = person('Dennis', 'Jordan', '199 Yonge St.')

In [35]:
row.first

'Dennis'

In [36]:
for item in row:
    print(item)

Dennis
Jordan
199 Yonge St.

## 4.0 Another use case

In [38]:
rod_id_nt = namedtuple("rod_ids", ["ids", "nums", "states"])

In [39]:
ids = ['a', 'b', 'c']
nums = [0, 1, 2]
states = ['de', 'aux', 'vers']

rods = rod_id_nt(ids, nums, states)

In [40]:
rods.ids

['a', 'b', 'c']

In [41]:
rods.nums

[0, 1, 2]

In [42]:
rods.states

['de', 'aux', 'vers']

## Rebuilding the main data structure -- cannot place the rods object in there

In [43]:
ids = ['a', 'b', 'c']
nums = [0, 1, 2]
states = ['de', 'aux', 'vers']

rods_outer = namedtuple('o', ids)
rods_inner = namedtuple('i', ['state', 'num'])

In [45]:

r = [rods_inner(states[i], nums[i]) for i in range(3)]

rods = rods_outer(r[0], r[1], r[2])

In [48]:
rods.a.num

0